thead, tr, th {
	text-align: center;
	vertical-align: middle;
}

.short-th {
	text-align: center;
}

.span-th {
	vertical-align: middle;
	text-align: center;
}

.notes-blue{
	background: #0288D1;
	width: 120px;
	border: 0px;
	border-radius: 2px;
}

.notes-lime{
	background: #CDDC39;
	width: 120px;
	border: 0px;
	border-radius: 2px;
}

.notes-orange{
	background: #FF5722;
	width: 120px;
	border: 0px;
	border-radius: 2px;
}

.label-keterangan{
	margin-left: 20px;
	text-align: left;
	width: 200px;
	border: 0px;
	font-weight: bold;
	margin-bottom: 5px;
}

.btn-custom{
	background-color: #eee;
	border: 0px;
	border-radius: 20px;
	width: 300px;
	height: 75px;
	position: static;
	margin-top: 250px;
	right: auto;
}
